<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/404.css">
</head>
<body>
    <h1>404</h1>
    <p>Oops! Page "<%= url %>" not found.</p>
    <a href="/">Go Back Home</a>
</body>
</html>